<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <title></title>
</head>
<body>
    <h1>Edit Page. Recreate History!</h1>
    <%- include('./partials/imgDiv.ejs') %>
    <div class="container">
    <form action="/baseballs/<%=baseball.id%>?_method=PUT" method="POST">
       Title: <input type="text" name="name" value="<%=baseball.title%>" /><br/>
       Description: <input type="text" name="description" value="<%=baseball.description%>" /><br/>
        <input type="submit" value="Submit">
        <form>
            <button type="button" name="button">
            <a href="/baseballs">Back</a>
            </button>
    </div>
</body>
</html>