<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div id="blah">
    <div class="alert alert-info" role="alert">
        
        <h1 class="text-center">Iconic Moments in MLB History</h1>
        <%- include('./partials/nav.ejs') %>
    </div>
    <div class="container"></div>
    

        <% for (let i = 0; i < baseballs.length; i++) { %>   
    <div class="card mb-3">
        <img src="<%=baseballs[i].img%>" class="card-img-top">
    <div class="card-body">
        <a href="/baseballs/<%=baseballs[i].id%>">
        <br/>
        <h4 class="card-title"><%=baseballs[i].title%></h4>
            </a>
            <br/>
            <h5 class="card-text"><%=baseballs[i].date%></h5>
            <br/>
            <p class="card-text"><%=baseballs[i].description%></p>
    <div class="dexbtns">
        <form action="/baseballs/<%=baseballs[i].id%>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger"value="Delete" />
        </form>
        <div class="divider" />
        <br/>
        <br/>
        <form action="/baseballs/<%=baseballs[i].id%>/edit">
            <input type="submit" class="btn btn-primary" value="Edit"/>
        </form>
        <form action="/baseballs/<%=baseballs[i].id%>/new">
            <input type="submit" class="btn btn-success" class="shadow-sm p-3 mb-5 bg-white rounded" value="Create" />
        </form>
            </div>
        </div>
    </div>
        <% } %>     
</div>
</div>
</body>
</html>