<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1>Index. Iconic Moments in MLB History</h1>
    <div class="container">
        
            <% for (let i = 0; i < baseballs.length; i++) { %>
            
                
            <div class="card mb-3">
                <img src="<%=baseballs[i].img%>"" class="card-img-top">
            
        <a href="/baseballs/<%=baseballs[i].id%>"><br/>
                    <%=baseballs[i].title%>
                </a><br/>
                <%=baseballs[i].date%><br/>
                <%=baseballs[i].description%>
                <form action="/baseballs/<%=baseballs[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger"value="Delete" />
                </form>
                <form action="/baseballs/<%=baseballs[i].id%>/edit"><input type="submit" class="btn btn-primary" value="Edit"/>
                </form>
                
            <% } %>
            
      </div>
    </div>
</body>
</html>