<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title></title>
</head>
<body>
    <h1>This is the Show Page. Moments</h1>
    <div class="container">
        The <%=baseball.title%> is <%=baseball.img%>.
        <!-- <button type="button" class="btn btn-primary" name="button"><a href="/baseballs/<%=baseball._id%>/edit">Edit</a></button> -->
        <br>
        <br>
        <form action="/baseballs/<%=baseball._id%>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete"/>
        <br>
        <form action="/baseballs"> <input type="submit" class="btn btn-secondary" value="Back"/>
        </form>
        <form action="/baseballs/<%=baseball._id%>/edit">
<input type="submit" class="btn btn-primary" value="Edit">
        </form>
    </div>
</body>
</html>